.button {
   border: 1px solid #0a3c59;
   background: #1996cc;
   background: -webkit-gradient(linear, left top, left bottom, from(#36abea), to(#1996cc));
   background: -webkit-linear-gradient(top, #36abea, #1996cc);
   background: -moz-linear-gradient(top, #36abea, #1996cc);
   background: -ms-linear-gradient(top, #36abea, #1996cc);
   background: -o-linear-gradient(top, #36abea, #1996cc);
   background-image: -ms-linear-gradient(top, #36abea 0%, #1996cc 100%);
   padding: 9.5px 19px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #52a4b3 0 1px 0;
   color: #ffffff;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #1996cc;
   background: -webkit-gradient(linear, left top, left bottom, from(#36abea), to(#1996cc));
   background: -webkit-linear-gradient(top, #36abea, #1996cc);
   background: -moz-linear-gradient(top, #36abea, #1996cc);
   background: -ms-linear-gradient(top, #36abea, #1996cc);
   background: -o-linear-gradient(top, #36abea, #1996cc);
   background-image: -ms-linear-gradient(top, #36abea 0%, #1996cc 100%);
   color: #ffffff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #20668c;
   background: -webkit-gradient(linear, left top, left bottom, from(#2577a3), to(#1996cc));
   background: -webkit-linear-gradient(top, #2577a3, #20668c);
   background: -moz-linear-gradient(top, #2577a3, #20668c);
   background: -ms-linear-gradient(top, #2577a3, #20668c);
   background: -o-linear-gradient(top, #2577a3, #20668c);
   background-image: -ms-linear-gradient(top, #2577a3 0%, #20668c 100%);
   color: #fff;
   }
